//Examples :
//@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400i,700&display=swap');
//font-family: 'Merriweather', serif;

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat bold'), local('Montserrat-Bold'),
  url('../fonts/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat black'), local('Montserrat-black'),
  url('../fonts/Montserrat-Black.woff2') format('woff2'),
  url('../fonts/Montserrat-Black.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat black italic'), local('Montserrat-black-italic'),
  url('../fonts/Montserrat-BlackItalic.woff2') format('woff2'),
  url('../fonts/Montserrat-BlackItalic.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat extra bold'), local('Montserrat-extra-bold'),
  url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
  url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat medium'), local('Montserrat-medium'),
  url('../fonts/Montserrat-Medium.woff2') format('woff2'),
  url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat regular'), local('Montserrat-regular'),
  url('../fonts/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat thin'), local('Montserrat-thin'),
  url('../fonts/Montserrat-Thin.woff2') format('woff2'),
  url('../fonts/Montserrat-Thin.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font Awesome 5 Pro';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-regular-400.eot");
  src: url("../fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.ttf") format("truetype"), url("../fonts/fa-regular-400.svg#fontawesome") format("svg"); }
.far {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
}
@font-face {
  font-family: 'Font Awesome 5 Pro';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url("../fonts/fa-light-300.eot");
  src: url("../fonts/fa-light-300.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-light-300.woff2") format("woff2"), url("../fonts/fa-light-300.woff") format("woff"), url("../fonts/fa-light-300.ttf") format("truetype"), url("../fonts/fa-light-300.svg#fontawesome") format("svg"); }
.fal {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 300;
}










//font-family: 'Gotham Book', sans-serif;

/*@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Bold.eot');
  src: url('../fonts/Gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham/Gotham-Bold.woff2') format('woff2'),
  url('../fonts/Gotham/Gotham-Bold.woff') format('woff'),
  url('../fonts/Gotham/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}*/
//font-family: 'Gotham Book', sans-serif; font-weight: bold;

/* ADOBE FONTS :
  <link rel="stylesheet" href="https://use.typekit.net/rms1opa.css"> (in html.html.twig)

  font-family: caecilia, sans-serif;
  font-weight: 700;
  font-style: normal;
*/
