#MainWrapper {
  #block-formulaireexposeglobal-searchpage-1{
    .js-form-item{
      label {
        display: none;
      }
      #edit-sort-order--3{
        visibility: hidden;
      }

    }
    input  {
      visibility: hidden;
    }

  }
}


.NodeSearchResult {

}
